<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.speedata.print">

    <uses-feature android:name="android.hardware.usb.host" />


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--在线更新-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="utils.ApplicationContext"
        android:icon="@drawable/icon"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.print.demo.firstview.ConnectAvtivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>


        <activity
            android:name="com.print.demo.printview.TextFirstActivity" />
        <activity
            android:name="com.print.demo.printview.TextSecondActivity"/>
        <activity
            android:name="com.print.demo.printview.TextTabsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.print.demo.printview.TextThirdActivity" />
        <activity
            android:name = "com.print.demo.printview.GraphicThirdActivity"/>
        <activity
            android:name = "com.print.demo.printview.GraphicSecondActivity" />
        <activity
            android:name = "com.print.demo.printview.GraphicFirstActivity" />
        <activity
            android:name="com.print.demo.printview.GraphicTabsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="utils.LinkContactActivity" />

        <activity
            android:name="com.goonear.crop.CropImage" />
        <activity
            android:name="com.print.demo.secondview.PrintModeActivity"/>
        <activity
            android:name="com.print.demo.firstview.BaseActivity" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>